<h1>Welcome</h1>

<% if 1 == 1 %>
  <h3><%= "1 equals 1." %></h3>
<% end %>

<%= link_to "Make a new form", albums_new_path %>

<table>
  <tr>
    <td>title</td>
    <td>artist</td>
    <td>year</td>
  </tr>
  <% @albums.each do |album| %>
    <tr>
      <td><%= album.title%></td>
      <td><%= album.artist%></td>
      <td><%= album.year%></td>
    </tr>
  <% end %>
</table>
